<!DOCTYPE html>
<html>

  <head>
    <title>{{ Configs.ctf_name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ Configs.ctf_small_icon }}" type="image/x-icon">
    <link rel="stylesheet" href="https://chainflag-1251113644.cos.ap-beijing.myqcloud.com/themes/core/static/css/fonts.min.css">
    <link rel="stylesheet" href="https://chainflag-1251113644.cos.ap-beijing.myqcloud.com/themes/core/static/css/core.min.css">
    <link rel="stylesheet" href="https://chainflag-1251113644.cos.ap-beijing.myqcloud.com/themes/neon/static/css/style.dev.css">
    <link rel="stylesheet" href="https://chainflag-1251113644.cos.ap-beijing.myqcloud.com/themes/neon/static/css/bootstrap4-neon-glow.min.css">

    <link rel='stylesheet' href='//cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css'>
    {% block stylesheets %}{% endblock %}

    {{ Plugins.styles }}
    <script type="text/javascript">
      var init = {
        'urlRoot': "{{ request.script_root }}",
        'csrfNonce': "{{ Session.nonce }}",
        'userMode': "{{ Configs.user_mode }}",
        'userId': {{ Session.id }},
        'start': {{ Configs.start | tojson }},
        'end': {{ Configs.end | tojson }},
        'theme_settings': {{ Configs.theme_settings | tojson }}
      }
    </script>
    {{ Configs.theme_header }}
  </head>

  <body>
    {% include "components/navbar.html" %}

    <main role="main">
      {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <div class="container text-center">
            {% if url_for(request.endpoint) == '/' %}
                Powered by
                <a href="https://ctfd.io" class="text-secondary">CTFd</a>
            {% endif %}
        </div>
    </footer>

    <script defer="defer" src="https://chainflag-1251113644.cos.ap-beijing.myqcloud.com/themes/core/static/js/vendor.bundle.min.js"></script>
    <script defer="defer" src="https://chainflag-1251113644.cos.ap-beijing.myqcloud.com/themes/core/static/js/core.min.js"></script>
    <script defer="defer" src="https://chainflag-1251113644.cos.ap-beijing.myqcloud.com/themes/core/static/js/helpers.min.js"></script>

    {% block entrypoint %}
      <script defer="defer" src="https://chainflag-1251113644.cos.ap-beijing.myqcloud.com/themes/core/static/js/pages/main.min.js"></script>
    {% endblock %}

    {% block scripts %}{% endblock %}

    {{ Plugins.scripts }}

    {{ Configs.theme_footer }}
  </body>

</html>
